/* make scrolling smooth */

html{

    scroll-behavior:smooth;
}
/* 
 get rid of padding & sizing on body so
 header is at top
*/




/* add some padding back to rest of page */
main {padding: 2vw;

}




nav{

    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: #75A3A8;
    width: 100%;
    display: none;

}

nav ul{
margin: 0;
padding: 0;
list-style: none;

}

nav li{
margin-bottom: 1em;
margin-left: 1em;

}

nav a{
color: white;
text-decoration: none;
font-size: 1.2rem;
text-transform: uppercase;

}

nav a:hover{

    color: black;
}

.nav-toggle:checked ~ nav {


display: block;

}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
position: absolute;
top: 0;
left: 0;
margin-left: 1em;

height: 100%;
display: flex;

align-items: center;

}





/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width: 60em) {
}

