/* make scrolling smooth */

html{

    scroll-behavior:smooth;
}
/* 
 get rid of padding & sizing on body so
 header is at top
*/

body{

box-sizing:  border-box;
padding: 0;
margin: 0 ;

}


/* add some padding back to rest of page */
main {padding: 2vw;}


/* navbar */
.navbar{
    background-color: #75A3A8;
    display: flex;
    flex-direction: column;
  
   


}



/* logo */

.logo {


   display: flex;
   align-items: center;

   
   
  
}

.logo img{

height: 12.5%;
width: 12.5%;

}

.logo h1{

    font-size: .8em;
}






/* navigation list */

.navbar-links li{



    list-style: none;
    display: block;
    text-align: center;
   
    margin-bottom: 50px;
    margin-right: 5%;
}



/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a{
    

    border: groove #f56c6b 5px;
    
letter-spacing: 4px;
font-size: 30pt;
padding-left: 50px;
padding-right: 50px;





}



/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
