/* make scrolling smooth */

html{

    scroll-behavior:smooth;
}





/* add some padding back to rest of page */
main {padding: 2vw;

}




nav{

    position: absolute;
    text-align: left;
    top: 90%;
    left: 10px;
   
    width: 50%;
    display: none;

   
    background-color: #75A3A8;
    
    border: solid #f56c6b 5px;
    padding: 15px;
    text-align: left;
    color: #f56c6b;

}

nav ul{
margin: 0;
padding: 0;
list-style: none;


}

nav li{
margin-bottom: 1em;
margin-left: 1em;


}

nav a{
color: #f56c6b ;
text-decoration: none;
font-size: 20pt;
text-transform: uppercase;

}



.nav-toggle:checked ~ nav {


display: block;

}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
position: absolute;
top: 25%;
left: 5%;
margin-left: 1em;


display: flex;
padding: 5px;
align-items: center;
text-align: center;
height: 40px;
border: 5px solid #2bf5af;
background-color: #756d5a;

}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
display: block;
background: white;
height: 3px;
width: 40px;
border-radius: 2px;
position: relative;

}

.nav-toggle-label span::before, 
.nav-toggle-label span::after{

    content: '';
    position: absolute;
   
}

.nav-toggle-label span::before{

    bottom: 7px;


}

.nav-toggle-label span::after{

    top: 7px;
}




/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width: 60em) {


    nav {text-align: right;
    top: 175px;
 
    width: 100%;
    

    
    }


    nav a:hover{

        color: #2bf5af;
    
    }

    nav ul{display: grid;
    
    grid-template-columns: 1fr 1fr 1fr  1fr .5fr;}


 

    .nav-toggle-label{
       
        top: 20%;
        left: 80%;

      
        height: 100px;
        width: 100px;
        
      
        
        
       
        
      
  
        
        }








        .nav-toggle-label:hover{
            background-color: #f56c6b;
            border: 5px solid  #427bf5;;

           


        }

    }

 




