
body {
    
    font-family: Kalam;
    background-color: #427bf5;
    color: #f5be42;
    font-size: 25pt;
    
    

}






header{
   

    
    color: #f56c6b;
   
    position: fixed;
    text-align: center; 
    
    width: 100%;




}




.logo {

    
    border: solid #f56c6b 5px;
    text-align: center;

    font-size: 10pt;
    line-height: 0px;
    margin: 10px;
    background-color: #f5be42;
   
 
}

.logo img{
    background-color: #756d5a;
    
    border: 2px solid #2bf5af;
    margin-top: 10px;
    height: 48px;
    width: 48px;
}






#nameNphoto {

    text-align: center;
    margin-top: 150px;

}

#bio {

    text-align: left;
    border: dashed #2bf5af 5px;
    padding: 15px;


}

h2 {

    font-family: Overlock;
    background-color: #75A3A8;
    font-size: 40pt;
    border: solid #f56c6b 5px;
    padding: 15px;
    text-align: center;
    color: #f56c6b;
}

#hobbies {

    margin-left: 2px;
   
   
    
   

}

#hobbies ul {

    background: #f5be42;
    padding: 10px;
    list-style-type: circle;
    list-style-position: inside;

}

#hobbies ul li {

    color: #2bf5af;

    background: #756d5a;

    margin: 10px;




}

.videowrapper iframe{
padding-left: 15%;
padding-right: 15%;
width: 50%;

}


#gallery{

    border: groove #f56c6b 10px;
    background-color: #756d5a;
    padding: 20px;
    border-radius: 20px;
   
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;

    display:grid;
    
}

#gallery img{
    grid-template-columns: 1fr 1fr;

height: 200px;
width: 150px;

}

#gallery h2{width: 95%;}

#lit{

margin-left: 5%;
margin-right: 5%;
margin-bottom: 20px;
max-height: 400px;
overflow: scroll;
padding: 20px;
text-align: center;
border: dashed #2bf5af 5px;



}
#lit h2{

 font-size: 20pt;
    text-align: center;
}


#formElements {

    font-size: 10pt;
   
   
    
}

#contactForm{

    border: solid darkblue;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 5%;
    
    border: groove #f56c6b 10px;
    background-color: #756d5a;


   
    
    font-size: 30pt;
  
    padding: 5px;
    text-align: center;
    color: #f56c6b;
}

#formElements {

    
    display:grid;
    margin: 5%;
    border: groove #f56c6b 10px;
    padding: 10px;
    color: #f5be42;
    background-color: #427bf5;
    font-size: 30pt;
   
    
}

footer {
    z-index: 999;
     font-family: Overlock;
     background-color: #75A3A8;
     font-size: pt;
     border: solid #f56c6b 1px;
     padding: 0%;
     text-align: center;
     color: #f56c6b;
 }
 






  /* UNDER HERE IS FOR THE BIGGER SCREENS!!!!!!!!!!!!! */
@media screen and (min-width: 60em) {


    .logo {

    
        border: solid #f56c6b 10px;
        text-align: left;
     
        font-size: 20pt;
        line-height: 5px;
        margin: 20px;
        background-color: #f5be42;
       

       
     
    }
    
    .logo img{
        
        background-color: #756d5a;
        padding: 5px;
        border: 5px solid #2bf5af;
        margin-top: 20px;
        width: 96px;
        height: 96px;
        margin-left: 100px;
       
    }

    .logo h1{

        margin-left: 50px;
    }


    #nameNphoto {

        
        margin-top: 200px;
    



     h2, footer {

    font-family: Overlock;
    background-color: #75A3A8;
    font-size: 40pt;
    border: solid #f56c6b 5px;
    padding: 15px;
    text-align: center;
    color: #f56c6b;
}






figure {

    display:grid;
    grid-template-columns: 2fr 1fr;

}

   

figcaption{


display:flex;
justify-content: center;
align-items: center;
font-size: 2rem;
margin-left: 1rem;
}

#gallery img{

    height: 100%;
    width: 100%;
    
    }

#hobbies {
 text-align: center;
    
    padding: 100px;
    overflow: hidden;
    
   

}

#lit{

    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    max-height: 800px;
    overflow: scroll;
    padding: 50px;
    text-align: center;
    border: dashed #2bf5af 5px;
    
    
    
    }

    #lit h2{

        font-size: 30pt;
           text-align: center;
       }



       .videowrapper iframe{
        padding-left: 15%;
        padding-right: 15%;
        
        width: 640px;
        height: 360px;
        
        }



}

#formElements {

    
    display:grid;
    margin: 4%;
    border: groove #f56c6b 10px;
    padding: 5px;
    color: #f5be42;
    background-color: #427bf5;
    font-size: 20pt;
   
    
}

#contact h2{
    text-align: center;


}

#contact input, #contact textarea, #contact select,#contact button {

    padding: 1%;
    

   
}
#contact button{


    margin: 2%;
}

legend {

    margin: 0%;
}

#contactForm{

border: solid darkblue;
margin-right: 7.5%;
margin-left: 7.5%;
margin-bottom: 5%;

border: groove #f56c6b 10px;
background-color: #756d5a;



}
    #contact ul{

        list-style: none;
    }


}
